{% extends 'core/base.html' %}

{% block title %}Home{% endblock %}


{% block content %}
<!-- Newest Items -->
<div class="px-6 pb-10">
    <h1 class="py-10 text-center text-2xl font-bold">Newest Items</h1>
    <div class="grid grid-cols-4 gap-6">
        {% for item in items %}
        <a href="{% url 'item:detail' item.id %}"
            class="col-span-1 flex flex-col justify-end items-center border-[2px] border-gray-200 rounded-2xl">
            <img src="{{item.image.url}}" alt="image" class="rounded-t-2xl">
            <h1 class="pt-5 text-xl font-semibold">{{item.name}}</h1>
            <p class="text-lg text-gray-500">Price: ${{item.price}}</p>
        </a>
        {% endfor %}
    </div>
</div>

<!-- Categories sections -->
<div>

</div>
{% endblock %}