{% extends 'core/base.html' %}

{% block title %}Home{% endblock %}


{% block content %}
<main class="px-6 ">
<!-- Newest Items section-->
    <div class="pb-20">
        <h1 class="py-10 text-center text-2xl font-bold">Newest Items</h1>
        <div class="grid grid-cols-4 gap-6">
            {% for item in items %}
            <a href="{% url 'item:detail' item.id %}"
                class="col-span-1 flex flex-col justify-end items-center border-[2px] border-gray-200 rounded-2xl">
                <img src="{{item.image.url}}" alt="image" class="rounded-t-2xl">
                <h1 class="pt-5 text-xl font-semibold">{{item.name}}</h1>
                <p class="text-lg text-gray-500">Price: ${{item.price}}</p>
            </a>
            {% endfor %}
        </div>
    </div>

    <!-- Categories sections -->
    <div class="bg-gray-200 py-10 rounded-t-2xl">
        <h1 class="text-center text-2xl font-bold pb-10">Categories</h1>
        <!-- Different categories of items -->
        <div class="grid grid-cols-4 gap-6 px-10">
            {% for category in categories %}
            <div class="col-span-1 bg-white rounded-xl p-10">
                <h3 class="text-2xl font-semibold text-gray-700 text-center">{{category.name}}</h3>
                <p class="text-xl text-gray-500 text-center pt-5">{{category.items.count}} items</p>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}