{% extends 'core/base.html' %}

{% block title %}Browse{% endblock %}


{% block content %}
<div class="grid grid-cols-4">
    <!-- Search bar -->
    <div class="col-span-1 bg-gray-200 p-10">
        <h3 class="font-semibold text-2xl mb-5">Search Items</h3>
        <!-- search form -->
        <form method="get" class="mb-10">
            <input type="search" name="query" value="{{query}}" placeholder="search toys, furniture and manymore" class="p-2 w-full rounded-xl border border-gray-700 border-2">
            <input type="submit" value="Search" name="search" class="px-3 pt-1 pb-2 bg-teal-500 text-black rounded-xl text-xl font-semibold mt-5">
        </form>
        <h3 class="font-semibold text-2xl mb-5">Categories</h3>
        <ul>
            {% for field in categories %}
            <li>{{field.name}}</li>
            {% endfor %}
        </ul>
    </div>
    <!-- items view  -->
    <div class="col-span-3 py-10 px-20">
        <h1 class="pb-10 text-center text-2xl font-bold">Items</h1>
        <div class="grid grid-cols-4 gap-6">
            {% for item in items %}
            <a href="{% url 'item:detail' item.id %}"
                class="col-span-1 flex flex-col justify-end items-center border-[2px] border-gray-200 rounded-2xl">
                <img src="{{item.image.url}}" alt="image" class="rounded-t-2xl">
                <h1 class="pt-5 text-xl font-semibold">{{item.name}}</h1>
                <p class="text-lg text-gray-500">Price: ${{item.price}}</p>
            </a>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}