{% extends 'core/base.html' %}

{% block title %}
{{item.name}}
{% endblock %}

{% block content %}
<main>
    <!-- detailed item sections -->
    <!-- details of an item -->
    <div class="grid grid-cols-3 w-4/5 mx-auto py-10">
        <!-- image of that item -->
        <div class="col-span-2 flex justify-center">
            <img src="{{item.image.url}}" alt="">
        </div>
        <!-- description of that item -->
        <div class="col-span-1 flex flex-col py-10">
            <h3 class="text-2xl font-semibold"><span>Name:</span> {{item.name}}</h3>
            <p><span class="text-2xl font-semibold">Description:</span> {{item.description}}</p>
            <p><span class="text-2xl font-semibold">Price:</span> ${{item.price}}</p>
            <p><span class="text-2xl font-semibold">Seller:</span> {{item.created_by}}</p>
            <div class="flex gap-5 w-full">
                {% if not request.user == item.created_by %}
                <a class="py-2 w-1/2 text-white text-xl font-semibold bg-teal-500 rounded-xl text-center mt-10" href="">Connect to Seller</a>
                {% else %}
                <a class="py-2 w-1/2 text-white text-xl font-semibold bg-yellow-500 rounded-xl text-center mt-10" href="{% url 'item:update_item' item.pk %}">Update Item</a>
                <a class="py-2 w-1/2 text-white text-xl font-semibold bg-red-500 rounded-xl text-center mt-10" href="{% url 'item:delete_item' item.pk %}">Delete Item</a>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- related items section -->
    <div class="bg-gray-200 rounded-xl py-10">
        <h1 class="text-2xl font-bold text-center pb-10">Related Items</h1>
        <div class="grid grid-cols-4 px-10 gap-10">
            {% for related_item in related_items %}
            <div class="col-span-1 border border-gray-100 rounded-2xl flex flex-col justify-end">
                <a href="{% url 'item:detail' related_item.id %}">
                    <img class="" src="{{related_item.image.url}}" alt="">
                    <h1 class="text-2xl text-center text-gray-700 py-2">{{related_item.name}}</h1>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}